<% case controller.action_name %>
		<% when "index" %>
    <a href="/"> <%= image_tag('logo3.png', :alt =>"NewGen Logo" )  %></a>
    <a href="/"> <%= image_tag('logo-small.png', :alt =>"NewGen Logo" )  %></a>

		<% when "companies" %>
		<a href="/"> <%= image_tag('logo3.png', :alt =>"NewGen Logo" )  %></a>
		<a href="/"> <%= image_tag('logo-small.png', :alt =>"NewGen Logo" )  %></a>

    <% when "management_consulting"%>
    <a href="/"> <%= image_tag('logo4.png', :alt =>"Management Consulting Logo" )  %></a>
    <a href="/"> <%= image_tag('logo-small4.png', :alt =>"Management Consulting Logo" )  %></a>

		<% when "placements"%>
		<a href="/"> <%= image_tag('logo5.png', :alt =>"Placements Logo" )  %></a>
		<a href="/"> <%= image_tag('logo-small5.png', :alt =>"Placements Logo" )  %></a>

		<% when "intelliview"%>
		<a href="/"> <%= image_tag('logo6.png', :alt =>"Intelliview Logo" )  %></a>
		<a href="/"> <%= image_tag('logo-small6.png', :alt =>"Intelliview Logo" )  %></a>

		<% when "delphius"%>
		<a href="/"> <%= image_tag('logo7.png', :alt =>"Delphius Logo" )  %></a>
		<a href="/"> <%= image_tag('logo-small7.png', :alt =>"Delphius Logo" )  %></a>

		<% when "newgen_business_solutions"%>
		<a href="/"> <%= image_tag('logo8.png', :alt =>"Newgen Business Solutions Logo" )  %></a>
		<a href="/"> <%= image_tag('logo-small8.png', :alt =>"Newgen Business Solutions Logo" )  %></a>
<% end %>
