<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="single-solution-item">
      <div class="panel panel-default">
          <div class="img-box">
        <%=link_to(image_tag('solution1.jpg', class:"img-100", alt:'management consulting'), 'management_consulting') %>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="single-solution-item">
      <div class="panel panel-default">
          <div class="img-box">
            <%=link_to(image_tag('solution3.jpg', class:"img-100" , alt:'intelliview'), 'intelliview')%>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="single-solution-item">
      <div class="panel panel-default">
          <div class="img-box">
          <%=link_to(image_tag('solution7.jpg', class:"img-100" , alt:'intelliview'), 'delphius')%>
        </div>
      </div>
    </div>
  </div>



  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="single-solution-item">
      <div class="panel panel-default">
          <div class="img-box">
          <%= image_tag('solution12.jpg', class:"img-100")%>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="single-solution-item">
      <div class="panel panel-default">
          <div class="img-box">
          <%= image_tag('solution10.jpg', class:"img-100")%>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="single-solution-item">
      <div class="panel panel-default">
          <div class="img-box">
          <%= image_tag('solution4.jpg', class:"img-100")%>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="single-solution-item">
      <div class="panel panel-default">
          <div class="img-box">
            <%= image_tag('solution13.jpg', class:"img-100")%>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="single-solution-item">
      <div class="panel panel-default">
          <div class="img-box">
          <%= image_tag('solution8.jpg', class:"img-100")%>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="single-solution-item">
      <div class="panel panel-default">
          <div class="img-box">
          <%= image_tag('solution6.jpg', class:"img-100")%>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="single-solution-item">
      <div class="panel panel-default">
          <div class="img-box">
          <%= image_tag('solution10.jpg', class:"img-100")%>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="single-solution-item">
      <div class="panel panel-default">
          <div class="img-box">
          <%= image_tag('solution6.jpg', class:"img-100")%>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="single-solution-item">
      <div class="panel panel-default">
          <div class="img-box">
          <%= image_tag('solution11.jpg', class:"img-100")%>
        </div>
      </div>
    </div>
  </div>
</div>
