
    <section class="solutions">
      <div class="thm-container solution-top">
        <h2>Looking for a professional services for your business?  </h2><a data-animation="animated fadeInLeft" href="#" class="thm-button">Contact Us <i class="fa fa-arrow-right"></i></a>
      </div>
      <div class="container">
          <hr>
      </div>
      <div class="thm-container">
        <h3 class="text-center">THE NEWGEN GROUP FAMILY</h3>
        <div class="solution-bottom">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-solution-item">
                <div class="panel panel-default">
                    <div class="img-box">
                    <%= image_tag('solution1.jpg', class:"img-100")%>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-solution-item">
                <div class="panel panel-default">
                    <div class="img-box">
                    <%= image_tag('solution2.jpg', class:"img-100")%>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-solution-item">
                <div class="panel panel-default">
                    <div class="img-box">
                    <%= image_tag('solution3.jpg', class:"img-100")%>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-solution-item">
                <div class="panel panel-default">
                    <div class="img-box">
                    <%= image_tag('solution4.jpg', class:"img-100")%>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-solution-item">
                <div class="panel panel-default">
                    <div class="img-box">
                    <%= image_tag('solution5.jpg', class:"img-100")%>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-solution-item">
                <div class="panel panel-default">
                    <div class="img-box">
                    <%= image_tag('solution6.jpg', class:"img-100")%>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-solution-item">
                <div class="panel panel-default">
                    <div class="img-box">
                    <%= image_tag('solution7.jpg', class:"img-100")%>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-solution-item">
                <div class="panel panel-default">
                    <div class="img-box">
                    <%= image_tag('solution8.jpg', class:"img-100")%>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-solution-item">
                <div class="panel panel-default">
                    <div class="img-box">
                    <%= image_tag('solution9.jpg', class:"img-100")%>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-solution-item">
                <div class="panel panel-default">
                    <div class="img-box">
                    <%= image_tag('solution10.jpg', class:"img-100")%>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-solution-item">
                <div class="panel panel-default">
                    <div class="img-box">
                    <%= image_tag('solution11.jpg', class:"img-100")%>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-solution-item">
                <div class="panel panel-default">
                    <div class="img-box">
                    <%= image_tag('solution11.jpg', class:"img-100")%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec-pad service-page2">
      <div class="thm-container">
        <div class="sec-title">
          <h2>Our Best Services</h2>
          <div class="decor-line"></div>
        </div>
        <div class="row">
          <div class="our-best-services">
            <div class="single-service-item">
              <h3>Business Strategy Development</h3>
              <p>Assisting customers with the development of a sustainable business strategy to the benefit of all strategic stakeholders <a href="#">more >></a></p>
            </div>
            <div class="single-service-item">
              <h3>Mentorship and Training of Candidates</h3>
              <p>It is a well-known fact that Africa has a dire shortage of skills, and we offer a comprehensive service to organizations <a href="#">more >></a></p>
            </div>
            <div class="single-service-item">
              <h3>Engineering</h3>
              <p>Provide complete services including sweeping, ingress and egress testing and elimination, spectrum analysis and proof of performance of certification <a href="#">more >></a></p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="sec-pad about-us-section">
      <div class="thm-container">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="about-us">
              <div class="sec-title">
                <h2>About us</h2>
                <div class="decor-line"></div>
              </div><img src="images/new/aboutus1.jpg" alt="">
              <p>The group was founded in 2006.We have offices and warehouses in: Jhb, Centurion, CT, KZN
                The Group is 100% black owned with 62.5% black female owned. Level 1 BBBEE grading.
                </p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li>Our Company Growth</li>
                    <li>279+ Employed</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>Opportunities </li>
                    <li>Customer Relationship</li>
                  </ul>
                </div>
              </div><a href="#" class="thm-button">Read more </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="sec-title">
              <h2>Why choose us</h2>
              <div class="decor-line"></div>
            </div>
            <div class="faq-left-box">
              <div class="single-faq-left">
                <div class="icon-box"><%=image_tag('1.png')%></div>
                <div class="text-box">
                  <h3>Advanced</h3>
                  <p>We take a consultative and forward planning approach to all our services</p> <br>

              </div>
              <div class="single-faq-left">
                <div class="icon-box"><%=image_tag('2.png')%> </div>
                <div class="text-box">
                  <h3>delivery on time</h3>
                  <p>We deliver real results, fast.</p>

                </div>
              </div>
              <div class="single-faq-left">
                <div class="icon-box"><%=image_tag('3.png')%></div>
                <div class="text-box">
                  <h3>dedicated team</h3>
                  <p>The experience of the management team and our strategic partners places us in the unique position to be able to match our resources and expertise to the needs of our clients</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec-pad request-call-bg">
      <div class="thm-container">
        <div class="row">
          <div class="col-md-12">
            <div class="sec-title">
              <h2>Request a free consultation</h2>
              <div class="decor-line"></div>
            </div>
            <div class="row request-call-form">
              <form id="request-call-form" action="#" method="POST">
                <div class="col-md-4">
                  <input id="name" type="text" placeholder="Name" name="name">
                </div>
                <div class="col-md-4">
                  <input id="email" type="text" placeholder="Email" name="email">
                </div>
                <div class="col-md-4">
                  <input id="phone" type="text" placeholder="Phone" name="phone">
                </div>
                <div class="col-md-4">
                  <input id="subject" type="text" placeholder="Subject" name="subject">
                </div>

                <div class="col-md-4">
                  <button type="submit" class="thm-button inverse">submit now</button>
                </div>
                <div class="col-md-12">
                  <div id="success"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="partner2" style="padding:20px;">
      <div class="thm-container">
        <div class="col-md-3"><%=image_tag('logo1.jpg', class:"img-responsive thumbnail")%></div>
        <div class="col-md-3"><%=image_tag('logo2.jpg', class:"img-responsive thumbnail")%></div>
        <div class="col-md-3"><%=image_tag('logo3.jpg', class:"img-responsive thumbnail")%></div>
        <div class="col-md-3"><%=image_tag('logo4.jpg', class:"img-responsive thumbnail")%></div>
    </section>


    <section class="footer-contacts">
      <div class="thm-container">
        <h2>We help you to make the best marketable strategy , asset and execution</h2><a data-animation="animated fadeInLeft" href="#" class="thm-button">Contact Us <i class="fa fa-arrow-right"></i></a>
      </div>
    </section>
