
<!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Warehousing</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Fleets</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Splicing</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Tools</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">

      <div class=" row">
        <h4>Examples of Our Warehousing</h4>
        <div class="col-md-6"><%=image_tag('mini/warehousing_1.jpg', class:"img-responsive")%></div>
        <div class="col-md-6"><%=image_tag('mini/warehousing_2.jpg', class:"img-responsive")%></div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <div class=" row">
        <div class="container"> <h4>Examples of Our Fleet Branded Vehicles and Typical Team Requirements</h4></div>

        <div class="col-md-4">
           <%=image_tag('mini/vehicles_1.jpg', class:"img-responsive")%>
        </div>
        <div class="col-md-4"><%=image_tag('mini/vehicles_2.jpg', class:"img-responsive")%></div>
        <div class="col-md-4"><%=image_tag('mini/vehicles_3.jpg', class:"img-responsive")%></div>
      </div>

    </div>

    <div role="tabpanel" class="tab-pane" id="messages">
      <div class="row">
          <h4>ISP And Splicing (50x3/4 Men Teams)</h4>

          <div class="col-md-12"><%=image_tag('mini/splicing.jpg', class:"img-responsive")%></div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
      <div class="row">
          <h4>Equipment and Tools for Splicing and ISP Civil work</h4>

          <div class="col-md-6"><%=image_tag('mini/tools_1.jpg', class:"img-responsive")%></div>
          <div class="col-md-6"><%=image_tag('mini/tools_2.jpg', class:"img-responsive")%></div>
      </div>
    </div>
  </div>
