<div class="tab-v1">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">#P1</a></li>
        <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">#P2</a></li>
        <li class=""><a href="#messages" data-toggle="tab" aria-expanded="false">#P3</a></li>
        <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">#P4</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="home">
            <div class="row">
              <h4>Structures on Buildings</h4>
                <div class="col-md-4">
                    <%=image_tag('mini/structure.png', class:'"img-responsive img-tab-space')%>
                </div>
                <div class="col-md-4">
                   <%=image_tag('mini/structure_2.png', class:'"img-responsive img-tab-space')%>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile">
          <h4>Stacked Monopole Solutions</h4>
            <div class="col-md-4">
                <%=image_tag('mini/Stacked.png', class:'img-responsive img-tab-space')%>
            </div>
        </div>
        <div class="tab-pane fade" id="messages">
            <h4>Camouflage Roof Top Solutions</h4>
              <div class="col-md-4">
                  <%=image_tag('mini/camouflage.png', class:'img-responsive img-tab-space')%>
              </div>
        </div>
        <div class="tab-pane fade" id="settings">
          <div class="row">
            <div class="col-md-4">
                  <%=image_tag('mini/triband.png', class:'img-responsive img-tab-space')%>
            </div>
            <div class="col-md-8">
                <h4>Typical 12m Triband LP Solution</h4>
                <ul style="list-style-type:none">
                      <li><i class="fa fa-arrow-circle-right"></i> 10m, 12m and 15m options, </li>
                      <li><i class="fa fa-arrow-circle-right"></i> Radome Assembly, lower wind loading</li>
                      <li><i class="fa fa-arrow-circle-right"></i> Antenna with built in diplexers to limit feeders.</li>
                      <li><i class="fa fa-arrow-circle-right"></i> Rapid plinth/ rebar kits.</li>
                    </ul>
            </div>
            </div>
        </div>
    </div>
</div>
