<header class="company" style="background-image: url(<%= image_path('header7.jpg') %>) ;">
    <div class="overlay">
</header>
<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading">ID4</h1>
        <hr>
         <div id="autoplay">
           <p>ID4 Mobility is part of the New Generation group of companies.  </p>
           <p>We help our customers leverage IT innovation and enable mobility and upgrade their homes and organisations by providing unsurpassed service and solutions</p>
         </div>
         <br>
        <a href="#about-intro" class="thm-button inverse">Find Out More</a>
    </div>
</div>

<section id="about-intro" >
<div class="intro bg-gray text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-12 content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              <a class="logo-img" href="#">
                  <%=image_tag('brand.png', class:"logo-img")%>
              </a>
              <h2>As a group, we employ more than 100 personnel in the technical sectors and industries across South Africa
</h2>
          </div>
      </div>
  </div>
</div>
</section>


<!--section services start here-->

        <section id="services" class="padding-80" style="background-image: url(<%= image_path('globe-background.png') %>) ;">


            <div class="services-section-1 text-justify">
                <div class="container">
                    <div class="section-heading text-center">
                        <h4 class="small section-title"><span>What we do?</span></h4>
                        <h2 class="large section-title" style="color:#f58634">Our Services</h2>
                    </div><!--section heading-->

                </div><!--container-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 animated fadeIn" data-wow-delay="0.3s">
                            <div class="margin-btm-40 class="text-justify" ">
                                <h4>ID4 </h4>
                                 <p class="text-justify">ID4 Mobility is part of the New Generation group of companies.
                                        We help our customers leverage IT innovation and enable mobility and upgrade their homes and organisations by providing unsurpassed service and solutions, competitive and innovative know how.
                                        With the booming of the smartphones market and the emergence of mobile applications and usages, mobility is becoming essential for individuals and businesses. <br>The driving force in the telecommunications industry now, is Fibre. Thus, a high demand for home and small business assistance has arisen. This assistance is simply to connect as much as possible onto the digital platform that will allow full connectivity to the end user. All in lieu of making things easier for the user in question. This has been labelled IoT (Internet of Things).
                                 </p>

                                  <button class="btn btn-sm btn-default">Read More</button>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-12 wow animated fadeInLeft" data-wow-delay="0.3s">
                          <hr>

                          <div class="row">
                            <div class="col-md-3">
                              <div class="panel panel-default panel-default-company" style="height:100%";>
                                <div class="panel-heading"> <h4 style="color:#f58634">IT SUPPORT</h4></div>
                                  <%=image_tag('mini/it_support.jpg', class:"img-responsive")%>
                                </div>
                            </div>
                            <div class="col-md-3">
                              <div class="panel panel-default panel-default-company" style="height:100%";>
                               <div class="panel-heading"><h4 style="color:#f58634">SITE INSTALLATION</h4></div>
                                        <%=image_tag('mini/inspection.jpg', class:"img-responsive")%>
                                </div>
                            </div>
                            <div class="col-md-3">
                              <div class="panel panel-default panel-default-company" style="height:100%";>
                                 <div class="panel-heading"><h4 style="color:#f58634">APPS</h4></div>
                                    <%=image_tag('mini/apps.jpg', class:"img-responsive")%>
                                </div>
                            </div>

                            <div class="col-md-3">
                              <div class="panel panel-default panel-default-company" style="height:100%";>
                                 <div class="panel-heading"><h4 style="color:#f58634">DEVICES & SOFT-</h4></div>
                                   <div class="panel-body">

                                   </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12 animated fadeIn" data-wow-delay="0.3s">
                        <div class="margin-btm-40">
                          <h3>After Sale Support and Maintenance</h3>
                         <p>ID4 Mobility is committed to providing exceptional after-sales customer support and maintenance to improve equipment productivity, minimise costs throughout the product lifecycle. We continuously strive to improve customer satisfaction.  You can contact our after-sales support centre via <a href="/contacts">email</a> </p>
                    </div>
                  </div>
            </div><!--services section 1 end-->
             <div class="container">
                       <hr>
               <div class="row">
                 <div class="col-md-12">
                   <div class="jumbotron text-center header-content-inner hr">
                  <p>Contact us now and you can be connected today</p>
                  <hr>
                    <a data-animation="animated fadeInLeft" href="#" class="thm-button">Get started <i class="fa fa-arrow-right"></i></a>

                   </div>
                 </div>
               </div>

        </section>

        <!--section services end here-->
