<header class="company" style="background-image: url(<%= image_path('header3.jpg') %>) ;">

    <div class="overlay">
</header>
<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading">Intelliview</h1>
        <hr>
        <p>At Intelliview, we believe that excellent service is the key to establishing and maintaining happy and successful relationships between us and our clients </p>
        <a href="#about-intro" class="thm-button inverse">Find Out More</a>
    </div>
</div>

<section id="about-intro">
<div class="intro bg-gray text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-12 content wow fadeInUp" style="visibility: visible; animation-name: fadeIn;">
              <a class="logo-img" href="#">
                  <%=image_tag('brand.png', class:"logo-img")%>
              </a>
              <h2>Currently employed +200 staff members.
</h2>
          </div>
      </div>
  </div>
</div>
</section>


<!--section services start here-->

        <section id="services" class="padding-80">

            <div class="services-section-1 text-justify">
                <div class="container">
                    <div class="section-heading text-center">
                        <h2 class="large section-title" style="color:#f58634">About us</h2>
                    </div><!--section heading-->

                </div><!--container-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 animated fadeIn" data-wow-delay="0.3s">
                            <div class="margin-btm-40">
                                <h4>Intelliview</h4>
                                <p>Intelliview is 100% black owned with 62.5% black female owned. Level 1 BBBEE grading, Founded in 2006 we have offices and warehouses in:
                                  Johannesburg, Western Cape, Eastern Cape, Kwa-Zulu Natal and Currently employed +200 staff members.
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-8 wow animated fadeInLeft" data-wow-delay="0.3s">

                            <h3 style="color:#f58634">Vision</h3>
                              <p>
                                To be a leading BEE player with a competitive edge in the ICT world,
                                Offering a range of quality products and solutions, as well as a leading provider of highly skilled consultants with partners nationally and International.

                              </p> <br>

                              <h3 style="color:#f58634">Mission</h3>
                                <ul style="list-style-type:none">
                                  <li><i class="fa fa-arrow-circle-right"></i> To deliver world-class tailored solutions and services to our customers.</li>
                                  <li><i class="fa fa-arrow-circle-right"></i> To maintain high levels of competency under good business ethics.</li>
                                  <li><i class="fa fa-arrow-circle-right"></i> To build a competitive, profitable and focused ICT business.</li>
                                  <li><i class="fa fa-arrow-circle-right"></i> To honour commitments and strive for customer satisfaction.</li>
                                  <li><i class="fa fa-arrow-circle-right"></i> To provide highly skilled professionals who will meet the client needs.</li>
                                  <li><i class="fa fa-arrow-circle-right"></i> To create growth opportunities for our associates and value for our shareholders.</li>
                                  <li><i class="fa fa-arrow-circle-right"></i> To supply leading products combined with outstanding service and value for money.</li>
                                </ul>
                               <br>

                               <h3 style="color:#f58634">Values</h3>
                                 <ul style="list-style-type:none">
                                   <li><i class="fa fa-arrow-circle-right"></i> We respect all individuals and organizations.</li>
                                   <li><i class="fa fa-arrow-circle-right"></i> We commit to consistent quality service that will exceed customer expectation.</li>
                                   <li><i class="fa fa-arrow-circle-right"></i> We value inclusion, diversity and free exchange of ideas</li>
                                   <li><i class="fa fa-arrow-circle-right"></i> We encourage innovation and an entrepreneurial culture</li>
                                   <li><i class="fa fa-arrow-circle-right"></i> We commit to maintain and nurture special relationships with our clients, employees and associates.</li>
                                 </ul>
                                <br>
                            </div>
                            <div class="col-md-4 wow animated fadeInRight" data-wow-delay="0.6s">
                                  <div id="myCarousel" class="carousel slide carousel-v1">
                                    <div class="carousel-inner">
                                        <div class="item">
                                               <%=image_tag('mini/mini_1.jpg', class:"img-responsive")%>
                                            <div class="carousel-caption">
                                                <p>MINI TRENCHING</p>
                                            </div>
                                        </div>
                                        <div class="item active">
                                        <%=image_tag('mini/mini_2.jpg', class:"img-responsive")%>
                                            <div class="carousel-caption">
                                                <p>MINI TRENCHING</p>
                                            </div>
                                          </div>


                                            <div class="item">
                                                  <%=image_tag('mini/mini_3.jpg', class:"img-responsive")%>
                                                <div class="carousel-caption">
                                                    <p>MINI TRENCHING</p>
                                                </div>
                                            </div>

                                            <div class="item">
                                                  <%=image_tag('mini/mini_4.jpg', class:"img-responsive")%>
                                                <div class="carousel-caption">
                                                    <p>MINI TRENCHING</p>
                                                </div>
                                            </div>

                                            <div class="item ">
                                                  <%=image_tag('mini/mini_5.jpg', class:"img-responsive")%>
                                                <div class="carousel-caption">
                                                    <p>MINI TRENCHING </p>
                                                </div>
                                            </div>

                                            <div class="item ">
                                                  <%=image_tag('mini/mini_6.jpg', class:"img-responsive")%>
                                                <div class="carousel-caption">
                                                    <p>MINI TRENCHING </p>
                                                </div>
                                            </div>

                                            <div class="item ">
                                                  <%=image_tag('mini/mini_7.jpg', class:"img-responsive")%>
                                                <div class="carousel-caption">
                                                    <p>MINI TRENCHING </p>
                                                </div>
                                            </div>

                                            <div class="item ">
                                                  <%=image_tag('mini/mini_8.jpg', class:"img-responsive")%>
                                                <div class="carousel-caption">
                                                    <p>MINI TRENCHING </p>
                                                </div>
                                            </div>

                                            <div class="item ">
                                                  <%=image_tag('mini/mini_9.jpg', class:"img-responsive")%>
                                                <div class="carousel-caption">
                                                    <p>MINI TRENCHING </p>
                                                </div>
                                            </div>

                                            <div class="item ">
                                                  <%=image_tag('mini/mini_10.jpg', class:"img-responsive")%>
                                                <div class="carousel-caption">
                                                    <p>MINI TRENCHING </p>
                                                </div>
                                            </div>
                                        </div>

                                      <div class="carousel-arrow">
                                          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                              <i class="fa fa-angle-left"></i>
                                          </a>
                                          <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                              <i class="fa fa-angle-right"></i>
                                          </a>
                                      </div>
                    			    </div>
                            </div>
                        </div>

                    </div>

                </div><!--services section 1 end-->


            </section>

            <div class="parallax-counter-v4 parallaxBg" style="background-position: 50% 41px;">
                <div class="container content-sm">
                    <div class="row">
                        <div class="col-md-12 col-xs-6 md-margin-bottom-50">
                            <h1 style="color:#fff">Intelliview is 100% black owned with 62.5% black female owned. Level 1 BBBEE grading.</h1>
                        </div>

                    </div><!--/end row-->
                </div><!--/end container-->
            </div>
            <!--section services end here-->
    <br> <br>
            <div class="container">
                <div class="section-heading text-center">
                    <h4 class="small section-title"><span>What we do?</span></h4>
                    <h2 class="large section-title" style="color:#f58634">Our Services</h2>
                </div><!--section heading-->

                <div class="row content-boxes-v4 content-boxes-v4-sm margin-bottom-30">
                     <div class="col-md-12 md-margin-bottom-40">
                         <i class="pull-left icon-directions"></i>
                         <div class="content-boxes-in-v4">
                             <h3>ISP Network Deployment</h3>
                             <ul style="list-style-type:none">
                               <li><i class="fa fa-arrow-circle-right"></i> Preliminary & Technical Site Surveys</li>
                               <li><i class="fa fa-arrow-circle-right"></i> Detailed ISP Network Planning & Design</li>
                               <li><i class="fa fa-arrow-circle-right"></i> Civil Works, Route Construction</li>
                               <li><i class="fa fa-arrow-circle-right"></i> Duct Integrity & Pressure Testing</li>
                               <li><i class="fa fa-arrow-circle-right"></i> FO Cable installation, Splicing & Testing</li>
                               <li><i class="fa fa-arrow-circle-right"></i> FO Equipment Installation & Commissioning</li>
                               <li><i class="fa fa-arrow-circle-right"></i> Existing ISP/OSP route Audits & Upgrades</li>
                               <li><i class="fa fa-arrow-circle-right"></i> Independent Quality Audits & Reporting</li>
                               <li><i class="fa fa-arrow-circle-right"></i> DCP testing</li>
                             </ul>
                             <hr>

                             <h3>Scheduling</h3>
                               <p> <strong>Scheduling Process</strong></p>
                                 <ul style="list-style-type:none">
                                   <li><i class="fa fa-arrow-circle-right"></i> Contact list sanitised</li>
                                   <li><i class="fa fa-arrow-circle-right"></i> Customer contact is done within 48 hours of being placed on the list</li>
                                   <li><i class="fa fa-arrow-circle-right"></i> Installations scheduled no later than 7 working days of being placed on the list</li>
                                   <li><i class="fa fa-arrow-circle-right"></i> Customer Ownership remains with initiating Support staff member</li>
                                 </ul>

                                   <p> <strong>Post installation</strong></p>
                                     <ul style="list-style-type:none">
                                       <li><i class="fa fa-arrow-circle-right"></i> Installation satisfaction reports concluded</li>
                                       <li><i class="fa fa-arrow-circle-right"></i> Feedback reports given to all concerned</li>
                                     </ul>

                                     <p> <strong>Reporting</strong></p>
                                       <ul style="list-style-type:none">
                                         <li><i class="fa fa-arrow-circle-right"></i> Daily reports include: Updated contact list; scheduling report; team reports; customer satisfaction survey; success ratio’s; escalations</li>
                                         <li><i class="fa fa-arrow-circle-right"></i> Weekly reports include: weekly success report; installation schedules; team on-time reports and any other customer required reporting</li>
                                        <li>A simple 4 step process is followed to allow the customer a smooth and effective Installation experience</li>
                                        <hr>
                                        <li><%=image_tag('4_step.png', class:"img-responsive")%></li>
                                       </ul>
                         </div>
                     </div>

                 </div>
                 <br><br>
            </div><!--container-->
  <%=render'contacts'%>
