<header class="company" style="background-image: url(<%= image_path('header6.jpg') %>) ;">
    <div class="overlay">
</header>
<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading">NEWGEN BUSINESS SOLUTIONS (NGBS)</h1>
        <hr>
         <div id="autoplay">
           <p>NGBS is a company that provides mobile products and services to the South African corporate employees and their families. </p>
           <p>A key priority for NGBS is to intensify our focus on customer centricity, by which we are one of the largest resellers</p>
         </div>
         <br>
        <a href="#about-intro" class="thm-button inverse">Find Out More</a>
    </div>
</div>

<section id="about-intro" >
<div class="intro bg-gray text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-12 content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              <a class="logo-img" href="#">
                  <%=image_tag('brand.png', class:"logo-img")%>
              </a>
              <h2>Human-Machine Interactions That Unlock Possibilities
</h2>
          </div>
      </div>
  </div>
</div>
</section>


<!--section services start here-->

        <section id="services" class="padding-80" style="background-image: url(<%= image_path('globe-background.png') %>) ;">


            <div class="services-section-1 text-justify">
                <div class="container">
                    <div class="section-heading text-center">
                        <h4 class="small section-title"><span>What we do?</span></h4>
                        <h2 class="large section-title" style="color:#f58634">Our Services</h2>
                    </div><!--section heading-->

                </div><!--container-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 animated fadeIn" data-wow-delay="0.3s">
                            <div class="margin-btm-40 class="text-justify" ">
                                <h4>Newgen Business Solutions </h4>
                                 <p class="text-justify">NGBS is a company that provides mobile products and services to the South African corporate employees and their families. Discounted airtime only deals to bundle options with data services, NGBS strives to make this required spend more affordable and accessible. Through our relationships with the major networks, we are able to offer unbeatable value. This is evident by our half price airtime.
                                  A key priority for NGBS is to intensify our focus on customer centricity, by which we are one of the largest resellers. NGBS IS a Level 1 BBBEE Company
                                 </p>

                                  <button class="btn btn-sm btn-default">Read More</button>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-12 wow animated fadeInLeft" data-wow-delay="0.3s">
                          <hr>

                          <div class="row">
                            <div class="col-md-4">
                              <div class="panel panel-default panel-default-company" >
                                <div class="panel-heading"><%=image_tag('mini/corpstart.png', class:'img-responsive')%></div>
                                   <div class="panel-body" style="margin-top: -66px;">
                                    <p>CORPSTART</p>
                                    <hr style="width: 224px">
                                     <button class="btn btn-sm btn-default">Read More</button>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                              <div class="panel panel-default panel-default-company">
                               <div class="panel-heading"><%=image_tag('mini/directcell.png', class:'img-responsive')%></div>
                                   <div class="panel-body" style="margin-top: -66px;">
                                    <p>DIRECTCELL </p>
                                    <hr style="width: 224px">
                                  <button class="btn btn-sm btn-default">Read More</button>
                                   </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                              <div class="panel panel-default panel-default-company" >
                                 <div class="panel-heading"><%=image_tag('mini/corpstart.png', class:'img-responsive')%></div>
                                   <div class="panel-body" style="margin-top: -66px;">
                                    <p>EDUSTART </p>
                                    <hr style="width: 224px">
                                <button class="btn btn-sm btn-default">Read More</button>
                                   </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <br>

            </div><!--services section 1 end-->
             <div class="container">
                       <hr>
               <div class="row">
                 <div class="col-md-12">
                   <div class="jumbotron text-center header-content-inner hr">
                  <p>Contact us now and you can be connected today</p>
                  <hr>
                    <a data-animation="animated fadeInLeft" href="#" class="thm-button">Get started <i class="fa fa-arrow-right"></i></a>

                   </div>
                 </div>
               </div>

               <div class="col-md-12 animated fadeIn" data-wow-delay="0.3s">
                   <div class="margin-btm-40">
                     <h3>  What is IoT?</h3>
                    <p>The Internet of Things (IoT) describes the connection of devices — any devices — to the internet using embedded software and sensors to communicate, collect and exchange data with one another. With IoT, the world is wide open, offering a virtually endless array of
                     </p>
               </div>

           </div>
             </div>
        </section>

        <!--section services end here-->
