<header class="company" style=" background: url('/assets/header2') no-repeat center center scroll;">
    <div class="overlay">
</header>
<div class="header-content">
    <div class="header-content-inner">
        <h1 id="homeHeading">NEW GENERATION PLACEMENTS </h1>
        <hr>
        <p>In today’s highly legislated human resources environment it is of extreme importance to select and recruit the correct resources for the organization </p>
        <a href="#about-intro" class="thm-button inverse">Find Out More</a>
    </div>
</div>

<section id="about-intro">
<div class="intro bg-gray text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-12 content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              <a class="logo-img" href="#">
                  <%=image_tag('brand.png', class:"logo-img")%>
              </a>
              <h2>880
Successful Placements and counting
</h2>
          </div>
      </div>
  </div>
</div>
</section>


<!--section services start here-->

        <section id="services" class="padding-80">


            <div class="services-section-1 text-justify">
                <div class="container">
                    <div class="section-heading text-center">
                        <h4 class="small section-title"><span>What we do?</span></h4>
                        <h2 class="large section-title" style="color:#f58634">Our Services</h2>
                    </div><!--section heading-->

                </div><!--container-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 animated fadeIn" data-wow-delay="0.3s">
                            <div class="margin-btm-40">
                                <h4>Newgen Placements</h4>
                                <p>In today’s highly legislated human resources environment it is of extreme importance to select and recruit the correct resources for the organization. It is not just important because of the high cost of recruitment, but also to ensure that the candidate will fit into the corporate environment.
                                At NewGen Placements you can be assured that we go out of our way to not only ensure that the candidate has the correct qualifications for the position, but to ensure that the candidate has the correct psychometric and personality profile to suite the corporate environment.</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-8 wow animated fadeInLeft" data-wow-delay="0.3s">
                          <h3 style="color:#f58634">Contract Resources</h3>
                            <ul style="list-style-type:none">
                              <li><i class="fa fa-arrow-circle-right"></i> Recruiting contract resources for limited duration contracts</li>
                              <li><i class="fa fa-arrow-circle-right"></i> Comprehensive background screening and reference checks of potential candidates</li>
                              <li><i class="fa fa-arrow-circle-right"></i> Ensuring that the resource has the applicable skills and qualifications for the position</li>
                            </ul>
                            <hr>
                            <h3 style="color:#f58634">Recruitment and Screening of Permanent Staff </h3>
                              <ul style="list-style-type:none">
                                <li><i class="fa fa-arrow-circle-right"></i> Compiling a comprehensive job profile</li>
                                <li><i class="fa fa-arrow-circle-right"></i> Compiling an ideal psychometric profile for the position</li>
                                <li><i class="fa fa-arrow-circle-right"></i> Advertising of the position</li>
                                <li><i class="fa fa-arrow-circle-right"></i> Screening of applicants</li>
                                <li><i class="fa fa-arrow-circle-right"></i> Compiling a shortlist of possible candidates</li>
                                <li><i class="fa fa-arrow-circle-right"></i> Testing and evaluation of possible candidates</li>
                                <li><i class="fa fa-arrow-circle-right"></i> Presenting the final shortlist of possible candidates to the organization for final interviews and selection</li>
                              </ul>
                              <hr>

                              <h3 style="color:#f58634">Mentorship and Training of Candidates</h3>
                                  <p>It is a well-known fact that Africa has a dire shortage of skills, and we offer a comprehensive service to organizations that want to make an investment in developing the required skills for their requirements. Our service encompasses the following:</p>
                                  <ul style="list-style-type:none">
                                    <li><i class="fa fa-arrow-circle-right"></i> Selection and screening of candidates that will partake in the training program.</li>
                                    <li><i class="fa fa-arrow-circle-right"></i> Selection of the appropriate training facility.</li>
                                    <li><i class="fa fa-arrow-circle-right"></i> Monitor the progress of candidates throughout the training program.</li>
                                    <li><i class="fa fa-arrow-circle-right"></i> Mentoring of candidates to ensure that they will understand what is required, helping them adapt to the working environment and ensuring that they fit into the organizational culture.</li>
                                  </ul>
                                  <p>Throughout all our resourcing and recruitment processes we aim to protect our clients by ensuring that all the legal processes are followed, that the resources are thoroughly screened and that the risks associated with the processes are mitigated as far as possible</p>

                        </div>

                        <div class="col-md-4 wow animated fadeInRight" data-wow-delay="0.6s">
                           <%=image_tag('training.jpg', class:"img-responsive")%> <br>
                           <button type="button" class="btn btn-default btn-block" name="button">Send CV</button>
                        </div>
                    </div>

                    <div class="section-heading text-center">
                        <h2 class="large section-title" style="color:#f58634">Happy Clients</h2>
                        <hr>
                        <div class="col-md-6  col-md-offset-4">
                          <div class="row">
                            <div class="col-md-3 col-sm-6"><%=image_tag('mtn.png', class:"img-responsive thumbnail")%> </div>
                            <div class="col-md-3 col-sm-6"><%=image_tag('vodacom.png', class:"img-responsive thumbnail")%></div>
                            <div class="col-md-3 col-sm-6"><%=image_tag('dfa.png', class:"img-responsive thumbnail")%></div>
                          </div>
                        </div>
                    </div><!--section heading-->
                </div>
            </div><!--services section 1 end-->
        </section>
        <!--section services end here-->
  <%=render'contacts'%>
