<!DOCTYPE html>
<html>
  <head>
    <title>NewGen Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <body class="style-home-page2">
    <%- if controller_name == 'home' %>
    <%=  render'shared/slider'%>
  <% end %>
  <%=  render'shared/top'%>
  <%=  render'shared/navbar'%>
    <%= yield %>
  <%=  render'shared/footer'%>


  <script src="plugins/owl.carousel-2/owl.carousel.min.js"></script>
  <script src="plugins/jquery.mixitup.min.js"></script>
  <script src="plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script src="plugins/Chart.min.js"></script>
  <script src="plugins/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="plugins/waypoints.min.js"></script>
  <script src="plugins/jquery.counterup.min.js"></script>
  <script src="js/theme.js"></script>

  </body>
</html>
