<!DOCTYPE html>
<html>
  <head>
    <title>NewGen Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="style-home-page2">
    <%- if controller_name == 'home' %>
    <%=  render'shared/slider'%>
  <% end %>
  <%=  render'shared/top'%>
  <%=  render'shared/navbar'%>
    <%= yield %>
  <%= render'shared/button_banner'%>
  <%= render'shared/footer'%>



  <script type="text/javascript">
  $('#autoplay').textition({
     speed: 1,
     animation: 'ease-out',
     map: {x: 200, y: 100, z: 0},
     autoplay: true, interval: 5.5
    })

    $(function () {
      $('[data-toggle="popover"]').popover()
    })
  </script>
  </body>
</html>
