<!DOCTYPE html>
<html>
  <head>
    <title>NewGen Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <body class="style-home-page2">
    <%- if controller_name == 'home' %>
    <%=  render'shared/slider'%>
  <% end %>
  <%=  render'shared/top'%>
  <%=  render'shared/navbar'%>
    <%= yield %>
  <%=  render'shared/footer'%>


  </body>
</html>
